@import url('https://fonts.googleapis.com/css?family=Poppin');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppin', sans-serif;
    background: linear-gradient(to bottom, #062C30 0 50%, #FFFDDE 50% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    max-width: 1500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.main-container h1 {
    margin-bottom: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

input, select{
    font-size: 18px;
    font-family: inherit;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin-left: 10px;
}

button {
    border-style: none;
    background-color: #062C30;
    color: white;
    cursor: pointer;
}

button#reverseBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

button#convert {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.98);
}

.result {
    margin-top: 40px;
}

.input-amount {
    font-size: 20px;
    color: gray;
    font-weight: 500;
}

.output-amount {
    font-size: 35px;
    font-weight: 700;
    color: #062C30;
}

.output-amount span {
    color: gray;
}

.time {
    font-size: 14px;
}